#- name: stop alfresco service
#  systemd:
#    name: alfresco
#    state: stop

- name: download tomcat apache package
  get_url:
    url: https://dlcdn.apache.org/tomcat/tomcat-8/v{{ tomcat_ver }}/bin/apache-tomcat-{{ tomcat_ver }}.tar.gz
    dest: /opt/tomcat/
#    checksum: sha512:ae059a595ba11386bf3c0a80e961c5f8bb057b2bab987c3863337311e95d4fa22f1185a44b2c8856dd33f7cfe76d4de4e2fe1bc8b89c6abfbfc008656c49b8c0

- name: unarchive
  ansible.builtin.unarchive:
    src: /opt/tomcat/apache-tomcat-{{ tomcat_ver }}.tar.gz
    dest: /opt/tomcat/

- name: create a directory to take backup
  file:
    path: /opt/tomcat/tomcat-backup
    state: directory

- name: taking backup
  copy:
    src: /opt/tomcat/
    dest: /opt/tomcat/tomcat-backup/
    remote_src: yes
    directory_mode: yes

- name: updating files with new version
  copy:
    src: /opt/tomcat/apache-tomcat-{{ tomcat_ver }}/
    dest: /opt/tomcat/
    remote_src: yes

- name: changing ownership for the dir tomcat
  file:
    path: /opt/tomcat/
    state: directory
    recurse: yes
    owner: tomcat
    group: tomcat
    mode: '0740'

- name: removing temp files
  file:
    path: /opt/tomcat/temp/safeToDelete.tmp
    state: absent

#- name: removing files from work directory
#  file:
#    path: /opt/tomcat/work/
#    state: absent

- name: create a directory to take logs backup
  copy:
    src: /opt/tomcat/logs/
    dest: /opt/tomcat/logs.old/
    remote_src: yes
    directory_mode: ye

#   command: mv -vf tomcat/logs/* tomcat/logs.old/

#- name: starting alfresco service
#  systemd:
#    name: alfresco
#    state: started