# - name: stop alfresco service
#  systemd:
#    name: alfresco
#    state: stop

- name: download tomcat apache package
  get_url:
    url: https://dlcdn.apache.org/tomcat/tomcat-8/v{{ tomcat_ver }}/bin/apache-tomcat-{{ tomcat_ver }}.tar.gz
    dest: /{{ tar_dest }} #update to vars for destination
#    checksum: sha512:ae059a595ba11386bf3c0a80e961c5f8bb057b2bab987c3863337311e95d4fa22f1185a44b2c8856dd33f7cfe76d4de4e2fe1bc8b89c6abfbfc008656c49b8c0

- name: unarchive
  ansible.builtin.unarchive:
    src: /{{ archive_src }}
    dest: /{{ archive_dest }}

- name: copy current version files for backup
  copy:
    src: /{{backup_src}}{{ item }}
    dest: /{{ backup_dest }}
    remote_src: yes
    directory_mode: yes
  with_list:
    - lib
    - bin
    - conf
    - BUILDING.txt
    - CONTRIBUTING.md
    - LICENSE
    - NOTICE
    - README.md
    - RELEASE-NOTES
    - RUNNING.txt

- name: updating files with new version
  copy:
    src: /{{ copy_src }}/{{ item }} # specific files need to copy # this is done
    dest: /{{ copy_dest }}
    remote_src: yes
  with_list:
    - lib
    - bin
    - BUILDING.txt
    - CONTRIBUTING.md
    - LICENSE
    - NOTICE
    - README.md
    - RELEASE-NOTES
    - RUNNING.txt

- name: gathering files to delete
  file:
    paths: /opt/tomcat/temp/
    state: absent

- name: remove temp dir contents
  file:
    path: /{{ item }} # find out a way to remove files from temp
    state: absent
  with_list:
     - /opt/tomcat/temp/*

- name: remove work dir contents
  file:
    path: /{{ item }}
    state: absent
  with_fileglob:
      - /opt/tomcat/work/*

- name: create a directory to take logs backup
  copy:
    src: /{{ log_src }}
    dest: /{{ log_dest }}  #use variables for src and dest
    remote_src: yes
    directory_mode: yes

- name: changing ownership for the dir tomcat
  file:
    path: /opt/tomcat/
    state: directory
    recurse: yes
    owner: tomcat
    group: tomcat
    mode: '0740'

    # previous permission owner roolback permission

#- name: starting alfresco service
#  systemd:
#    name: alfresco
#    state: started