 - name: stop alfresco service
  systemd:
    name: alfresco
   state: stop

- name: download tomcat apache package
  get_url:
    url: https://dlcdn.apache.org/tomcat/tomcat-8/v{{ tomcat_ver }}/bin/apache-tomcat-{{ tomcat_ver }}.tar.gz
    dest: /{{ tar_dest }} #update to vars for destination
    checksum: sha512:{{checksum-value}}

- name: unarchive
  unarchive:
    src: /{{ archive_src }}
    dest: /{{ archive_dest }}

- name: copy current version files for backup
  copy:
    src: /{{backup_src}}{{ item }}
    dest: /{{ backup_dest }}
    remote_src: yes
    directory_mode: yes
  with_list:
    - lib
    - bin
    - conf
    - BUILDING.txt
    - CONTRIBUTING.md
    - LICENSE
    - NOTICE
    - README.md
    - RELEASE-NOTES
    - RUNNING.txt

- name: updating files with new version
  copy:
    src: /{{ copy_src }}/{{ item }} # specific files need to copy # this is done
    dest: /{{ copy_dest }}
    remote_src: yes
  with_list:
    - lib
    - bin
    - BUILDING.txt
    - CONTRIBUTING.md
    - LICENSE
    - NOTICE
    - README.md
    - RELEASE-NOTES
    - RUNNING.txt

- name: gathering temp files to delete
  find:
    paths: /opt/tomcat/temp/
    patterns: "*"
  register: temp_files_to_delete

- name: remove temp dir contents
  file:
    path: "{{ item.path }}"
    state: absent
  with_items: "{{ temp_files_to_delete.files }}"

- name: Recursively remove directory
  file:
    path: /opt/tomcat/work/Catalina
    state: absent
    file_type: directory 

- name: create a directory to take logs backup
  copy:
    src: /{{ log_src }}
    dest: /{{ log_dest }}  #use variables for src and dest
    remote_src: yes
    directory_mode: yes

- name: changing ownership for the dir tomcat
  file:
    path: /opt/tomcat/
    state: directory
    recurse: yes
    owner: tomcat
    group: tomcat
    mode: '0740'

- name: starting alfresco service
  systemd:
    name: alfresco
    state: started