---
- name: "Tomcat upgrading playbook for Linux servers"
  hosts: all       # Inventory hosts group / server to act on
  become: yes      
  vars:
    tomcat_ver: 8.5.78   # Tomcat version to update
    # archive/tar file path variables
    base_dir: /opt/app/alfresco/
    tomcat_dir: tomcat
    tar_dest: /{{ base_dir }}
    archive_src: /{{ base_dir }}/apache-tomcat-{{ tomcat_ver }}.tar.gz
    archive_dest: /{{ base_dir }}
    # backup path for current version
    backup_src: /{{ base_dir }}/{{ tomcat_dir }}/
    backup_dest: /{{ base_dir }}/tomcat-backup/
    # copy files from updated version to tomcat path vaiables
    copy_src: /{{ base_dir }}/apache-tomcat-{{ tomcat_ver }}/
    copy_dest: /{{ base_dir }}/{{ tomcat_dir }}/
    # backup path for logs
    log_src: /{{ base_dir }}/{{ tomcat_dir }}/logs
    log_dest: /{{ base_dir }}/{{ tomcat_dir }}/logs.old/
  roles:
    - role: tomcat-role