---
- name: "Tomcat upgrading playbook for Linux servers"
  hosts: localhost       # Inventory hosts group / server to act on
  become: yes      
  vars:
    tomcat_ver: 8.5.78   # Tomcat version to update
    tar_dest: /opt/
    archive_src: /opt/apache-tomcat-{{ tomcat_ver }}.tar.gz
    archive_dest: /opt/
    backup_src: /opt/tomcat/
    backup_dest: /opt/tomcat-backup/
    copy_src: /opt/apache-tomcat-{{ tomcat_ver }}/ # 
    copy_dest: /opt/tomcat/   #
    log_src: /opt/tomcat/logs
    log_dest: /opt/tomcat/logs.old
  roles:
    - role: tomcat-role